@font-face {
    font-family: "Sans";
    src: url();
}

h1 {
    font-family: monospace;
    margin: 5px;
}

h2 {
    font-family: monospace;
    margin: 5px;
}

p {
    font-family: monospace;
    margin: 5px;
}

a {
    font-family: monospace;
    margin: 5px;
    display: block;
    text-decoration: none;
    color: orange
}

div {
    border: 1px solid rgb(253, 158, 16);
    margin: 5px;
    padding: 10px;
    width: fit-content;
}

img {
    width: 90px;
    height: auto;
    margin: 5px;
}

