@font-face {
    font-family: "Sans";
    src: url();
}

h1 {
    font-family: monospace;
    margin: 5px;
}

h2 {
    font-family: monospace;
    margin: 5px;
}

p {
    font-family: monospace;
    margin: 5px;
}

a {
    font-family: monospace;
    margin: 5px;
    display: block;
    text-decoration: none;
    color: orange
}

.pfp {
    text-align: left;
}

div {
    border: 1px solid rgb(253, 158, 16);
    margin: 1rem; /* m-4 */
    max-width: 42rem; /* max-w-2xl */
    background-color: #101010; /* bg-[#101010] */
    padding: 0.5rem; /* p-2 */
    color: white; /* text-white */
}

.profile {
    border: none;
    margin: 5px;
    padding: 10px;
    width: fit-content;
}

img {
    width: 90px;
    height: auto;
    margin: 5px;
}

